# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
Practica_1/node_modules/
Practica_1/functions
# testing
/coverage

# production
/build

# misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*